# jetbrain config
.vscode

# the following resources fetched from github TheOdinProject/css-exercises/
foundations/
margin-and-padding/
flex/

# node_modules installed by npm
node_modules/
.eslintrc.json

# others
.DS_Store
