.container {
    background-color: green;
}

.left,
.right {
    padding: 1em;
    background-color: blueviolet;
}

.left {
    float: left;
    zoom: 0.5;
}

.right {
    float: right;
    zoom: 2;
}

.clearfix::after {
    zoom: 1;
    display: block;
    content: "";
    clear: both;
}