*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  width: 100%;
  max-width: 1000px;
  background-color: pink;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 400px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  background-color: white;
}